@model IEnumerable<esports.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Round_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match_In_Round_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningTeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Round_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match_In_Round_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
